a:link, a:visited {
    background-color: #606579;
    color: white;
    border: 4px white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #51D7F4;
    color: white;
}
h1{a
    color: #606579;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 20px;
}
h2 {  
    color: #606579;
    padding-top: 30px; 
    padding-bottom: 20px;"
}
h3 {  
    color: white;
}
.pixel{
    background-color: rgb(197, 192, 192);
    width: 10px;
    height: 10px;
    margin: 0px 0.1px
    display: inline-block;
}
.row{
    margin: -10px;
}
.nav{ 
    margin: 10px;
}
button{
    background-color: #606579;
    color: white;
    border: 4px white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
button:hover{
    background-color: #51D7F4;
    color: white;
}